html {
	position: relative;
	min-height: 100%;
}

body {
	padding-bottom: 70px;
	background-image: url(../images/bg.jpg);
}

.jumbotron {
    position: relative;
    background: #000 url(../images/hyakki_yako.png) center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

.jumbotron h1 {
	font-size: 80px;
	text-shadow: -3px 0 #fff, 0 3px #fff, 3px 0 #fff, 0 -3px #fff;
}

.container {
	font-family: 'Caveat Brush', cursive;
}

#stats, #gameArea {
	font-size: 32px;
	height: 190px;
}

#visual .panel-body {
	position: relative;
}

#stats .panel{
	min-height: 150px;
	max-height: 180px;
}

#message, #description {
	font-size: 24px;
}

#red {
	color: #9e0c13;
}

#visual {
	position: relative;
	height: 450px;
}

#youkaiImg, #wara {
	position: absolute;
	left: 0;
	height: 100%;
}

.navbar-fixed-bottom {
	background-color: #897e7f;
	background-image: url(../images/bg2.jpg); 
	position: absolute;
}

#footer {
	color: #111;
	float: none;
	text-align: center;
}

a:link { color: #111; }