html {
	position: relative;
	min-height: 100%;
}

body {
	padding-bottom: 70px;
}

.jumbotron h1 {
	font-size: 80px;
}

.container {
	font-family: 'Caveat Brush', cursive;
}

.panel {
	font-size: 32px;
	height: 350px;
}

#visual .panel-body {
	position: relative;
}

#stats .panel{
	min-height: 150px;
	max-height: 180px;
}

#message {
	font-size: 24px;
}

#youkaiImg, #wara {
	width: 100%;
}

#footer { /* try sticker footer styling from basic*/
	color: #777777;
	float: none;
	text-align: center;
}

a:link { color: #777777; }